
.git
!.gitignore

# Visual Studio
.vs
**/*.aps

# Build data
**/*log
**/*obj
**/*recipe
**/*pdb
**/debug
/x64
/Win32

# Temporary and local files

**/*.tmp
**/_*
**/.*
**/test*

# Setting and local data

**/*.ini
**/$*
